*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
}

.projects-section{
    height: 84vh;
    position: relative;
}

/*navbar*/

.navbar{
    background-color: rgb(185, 33, 71);
    position: sticky;
    top: 0%;
    z-index: 9999;
    height: 10%;
    display: flex;
    align-items: center;
    
    }
    .home-tab{
        flex-basis: 5%;
        margin-left: 2%;
        margin-right: 58%;
    }
    
    .navbar-items{
        flex-basis: 30%;
        display: flex;
        justify-content: space-between;
        
    }
    .navbar-item{
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
    }
    
    .navbar-item:hover{
        border-bottom: 1px solid ;
        transition: all 0.3s ease-in-out;
    }
    
    .navbar-icon{
        display: none;
        color: white;
        font-size: 1.8em;
        position: absolute;
        right: 4%;
        top: 20%;
        
        cursor: pointer;
    }
    
    .menu-bar{
        height: 100vh;
        width: 100vw;
        background-color: gray;
        position: relative;
        display: none;
        animation: menu-animate 0.3s ease 1;
}

@keyframes menu-animate{
    0% {top: 100%;}
    100% {top:0%;}
}
    .menu-icon{
        color: white;
        font-size: 1.8em;
        z-index: 9999;
        position: absolute;
        right: 5%;
        top: 5%;
        cursor: pointer;
    
    }
    
    .menu-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    }
    .menu-item{
    font-size: 2em;
    text-decoration: none;
    color: white;
    margin-bottom: 3%;
    
    }
    .menu-item:after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width:350px;
    height: 0.3%;
    background-color: white;
    margin-top: 1%;
    
    }
    

/*project-item*/
.projects{
    height: 100%;
display: flex;
margin: 2% 2%;
align-items: center;
justify-content: center;
flex-wrap: wrap;
justify-content: space-around;
}

.project-item{
height: 300px;
width: 300px;
display: flex;
flex-direction: column;
align-items: center;
border:2px solid rgb(185, 33, 71);
margin-bottom: 5%;
margin-right: 0.5%;
padding: 0.5%;
}

.project-image{
height: auto;
width: 95%;
}

.preview{
color:rgb(185, 33, 71);
text-transform: uppercase;
font-size: 1.1em;
text-decoration: none;
border:2px solid rgb(185, 33, 71);
border-radius: 20px;
width: 120px;
height: 30px;
text-align: center;
padding-top: 1%;
margin-top: 2%;
}
.preview:hover{
    background-color: rgb(185, 33, 71);
    color: white;
    transition: all 0.3s ease-in-out;
}


.project-description{
font-size: 0.8em;
text-align: center;
width: 80%;
text-align: center;
margin-top: 3%;
}

/*footer*/
.footer{
position: fixed;
bottom: 0%;
width: 100%;
background-color: rgb(185, 33, 71);
height: 6vh;
z-index: 9999;

}

.footer-text{
position: absolute;
left: 50%;
transform: translateX(-50%);
margin-top: 0.8vh;
color: white;
text-align: center;
}
.name-link{
color: white;
}

.fa-linkedin, .fa-github{
position: absolute;
font-size: 2em;
color: white;
margin-top: 0.8vh;
}

.fa-linkedin:hover{
    color: #148dc5;
}
.fa-github:hover{
    color: #6cc644;
}

.fa-linkedin{
right: 5%;
margin-right: 50px;
}
.fa-github{
right: 5%;
}
   
@media screen and (max-width:1024px){
    .home-tab{
        margin-right: 50%;
    }
    .navbar-items{
        flex-basis: 38%;
    }
    .photo{
    flex-basis: 48%;
    text-align: center;
    }
    .about-info{
        flex-basis: 48%;
    }
}

@media screen and (max-width:768px){
    .home-tab{
        margin-right: 40%;
    }
    .navbar-items{
        flex-basis: 48%;
    }
   
  
    .navbar-items{
        display: none;
    }
    .navbar-icon{
        display: inline;
    }
    .project-item{
        height: 280px;
    }
    .project-description{
        font-size: 0.7em;
    }
    .project-item:last-of-type{
        margin-bottom: 13%;
    }
    .footer{
        font-size: 13px;
    }
}